.productFullPage {
  width: 100%;
  height: 100%;
  background: #fffcfa;

  .section1 {
    border: 2px solid red;
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
    justify-content: center;
    align-items: center;

    .itemsCard {
      border: 2px solid coral;
      width: 20rem;
      height: 45vh;

      .img {
        // border: 2px solid green;
        width: 100%;
        height: 70%;
        margin-bottom: 1rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .productDetails {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-family: "Comfortaa", sans-serif;

        .price,
        .rating {
          padding-left: 0.2rem;
        }
        .price {
            font-size: 0.9rem;
        }

        .rating {
          display: flex;
          align-items: center;
          .star {
            font-size: 1.35rem;
            color: rgb(233, 198, 4);
          }
        }
      }
    }
  }
}
