.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  .textRoll {
    // border: 2px solid red;
    display: inline-block;

    &:hover .letter,
    &.play .letter {
      transform: translateY(-100%);
    }

    .block:last-child {
      color: #c93d4b;
    }

    .letter {
      display: inline-block;
      transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);

      // Using Sass loop for cleaner nth-child delays
      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          transition-delay: 0.015s * ($i - 1);
        }
      }
    }
  }

  .logoWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease;
    .mainLogo {
      font-family: "Montserrat", sans-serif;
      font-size: 2.1vw;
      text-transform: uppercase;
      letter-spacing: 0.18rem;
      height: 40px;
      // border: 2px solid red;
      overflow: hidden;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .searchbar {
    background: #f7e0c2;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    // visibility: hidden;
    filter: drop-shadow(0px 0px 2.5px grey);
    input[type="text"] {
      background: transparent;
      outline: none;
      border: none;
      font-size: 1rem;
      width: 17vw;
      font-family: "Roboto", sans-serif;
      color: rgb(102, 102, 102);
    }

    .searchIcon {
      font-size: 1.3rem;

      &:active {
        transform: scale(0.9) translateY(7%);
      }
    }
  }

  .usersRight {
    display: flex;
    align-items: end;
    gap: 1.5rem;
    transition: all 0.4s ease;
    z-index: 11;

    .cartIconWrapper {
  position: relative;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -7px;
  background-color: gold;
  color: black;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

    &.equalSpacing {
      flex: 1;
      justify-content: flex-end;
    }

    p {
      font-family: "Inter", sans-serif;
      text-transform: uppercase;
      font-size: 1vw;
      cursor: pointer;
      height: 22px;
      // border: 2px solid red;
      overflow: hidden;

      // &:hover {
      //   text-decoration: underline 0.1rem goldenrod;
      //   text-underline-offset: 0.25rem;
      // }
    }

    i {
      font-size: 1.5rem;
      transition: all 0.3s ease;
    }
    .bag:hover {
      transform: scale(1.1);
      color: rgb(0, 166, 166);
    }
  }
}
