.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  .logoWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease;
    .mainLogo {
    font-family: "Montserrat", sans-serif;
    font-size: 2.1vw;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
  }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  

  .searchbar {
    background: #f6d5ab;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    // visibility: hidden;
    filter: drop-shadow(0px 0px 2.5px grey);
    input[type="text"] {
      background: transparent;
      outline: none;
      border: none;
      font-size: 1rem;
      width: 17vw;
      font-family: "Roboto", sans-serif;
      color: rgb(102, 102, 102);
    }

    .searchIcon {
      font-size: 1.3rem;

      &:active {
        transform: scale(0.9) translateY(7%);
      }
    }
  }

  .usersRight {
    display: flex;
    align-items: end;
    gap: 1.5rem;
    transition: all 0.4s ease;
    z-index: 11;

    &.equalSpacing {
      flex: 1;
      justify-content: flex-end;
    }

    p {
      font-family: "Inter", sans-serif;
      text-transform: uppercase;
      font-size: 1vw;
      cursor: pointer;

      &:hover {
        text-decoration: underline 0.1rem goldenrod;
        text-underline-offset: 0.25rem;
      }
    }

    i {
      font-size: 1.5rem;
      transition: all 0.3s ease;
    }
    .bag:hover {
      transform: scale(1.1);
      color: rgb(0, 166, 166);
    }
  }
}
