.loginFullPage {
  width: 100%;
  height: 100vh;
  padding: 5rem 1rem 1rem 1rem;
  background: #fcefd9;

  .loginContainer {
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem 0rem 2rem 0rem;

    h2 {
      font-family: "Bebas Neue", sans-serif;
      font-size: 3rem;
      font-weight: 100;
      letter-spacing: 0.3rem;
    }
  }

  .form {
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    label {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      user-select: none;

      &:nth-last-child(1) {
        font-size: 0.9rem;
        margin-left: 0.4rem;
      }
    }

    input {
      border: none;
      border-bottom: 2px solid rgb(177, 177, 177);
      outline: none;
      font-size: 1.5rem;
      margin-bottom: 1.4rem;
      //   pointer-events: none;

      &:focus {
        border-bottom: 2px solid lightgreen;
      }
    }
    .error {
      // margin:0.3rem 0 1.5rem 0;
      color: red;
    }

    button {
      padding: 1rem 0.8rem;
      font-size: 1.5rem;
      background: rgb(1, 101, 1);
      color: white;
      transition: cubic-bezier(0.19, 1, 0.22, 1);

      &:active {
        scale: 0.95;
      }
    }
    .loginRedirect {
      margin-top: 1.5rem;
      font-size: 1.1rem;
      font-family: "Comfortaa", sans-serif;

      a {
        color: rgb(1, 101, 1);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}